@import "tailwindcss";

@theme {
  --color-background: #fbf6ef;
  --color-foreground: #3a2d22;
  --color-card: #ffffff;
  --color-card-foreground: #3a2d22;
  --color-popover: #ffffff;
  --color-popover-foreground: #3a2d22;
  --color-primary: #1a5c9e;
  --color-primary-foreground: #ffffff;
  --color-secondary: #eee9e2;
  --color-secondary-foreground: #3a2d22;
  --color-muted: #eee9e2;
  --color-muted-foreground: #8c8173;
  --color-accent: #d1643d;
  --color-accent-foreground: #ffffff;
  --color-destructive: #c6372a;
  --color-destructive-foreground: #ffffff;
  --color-success: #497e5a;
  --color-success-foreground: #ffffff;
  --color-warning: #c78d29;
  --color-warning-foreground: #ffffff;
  --color-border: #e5ddd1;
  --color-input: #e5ddd1;
  --color-ring: #1a5c9e;
  --radius: 0.5rem;
  --font-sans: var(--font-dm-sans);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
